header{
    margin: 0;
    padding: 0;
    background: url("assets/backgrounds/landing.jpg"); height: 500px;
    background-size: cover;
}

.logo{
    color: white;
    text-align: center;
    font-size: xx-large;
    font-weight: 50;
    margin-top: 30px;
}

#logo{
    display: flex;
    justify-content: center;
}

.break{
    background: url("assets/foodtop/breakfast.jpg"); height: 200px; width: 300px;
    background-size: auto;
    color: white;
    font-style: italic;
    font-size: xx-large;
    text-align: center;

}

.lunch{
    background: url("assets/foodtop/lunch.jpg"); height: 200px; width: 300px;
    background-size: auto;
    color: white;
    font-style: italic;
    font-size: xx-large;
    text-align: center;
}

.dinner{
    background: url("assets/foodtop/dinner.jpg"); height: 200px; width: 300px;
    background-size: auto;
    color: white;
    font-style: italic;
    font-size: xx-large;
    text-align: center;
}

#happy{
    background-color: gray;
    color: #000000;
    font-size: xx-large;
    padding-top: 30px;
    padding-bottom: 33px;
    text-align: center;
}

#party{
    background-color: #f15a29;
    color: #ffffff;
    font-size: xx-large;
    padding-top: 30px;
    padding-bottom: 33px;
    text-align: center;
}

.foodtop{
    display: flex;
}

.happy{
    display: flex;
    flex-direction: column;
    flex: 2;
}

.food{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.drinks{
    float: left;

}

footer{
    text-align: center;
}

#subscribe{
    background-image: url("assets/backgrounds/subscribe.jpg"); height: 300px;
    color: white;
}

.mailsub{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#your{
    padding-right: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    font-size: larger;
    border: 1px solid lightblue;
    border-radius: 3px;
}

#scribe{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    font-size: larger;
    background-color: red;
    border: 2px solid red;
    border-radius: 3px;
}

#socialmedia{
    background-color: #f15a29;
    color: white;
    height: 70px;
    padding-top: 40px;
}

.socialmedia{
    background-color: #f15a29;
}

#content-3{
    background: url("assets/backgrounds/foodsBg.jpg"); height: 500px;
    color: red;
    display: flex;
    justify-content:center;
}
.sub{
    font-size: xx-large;
    padding-top: 90px;
}

#copyright{
    color: white;

}

#menu{
    width:35px;
    height: 10px;
    background-color: white;
    margin: 8px 0;
}

#our{
   padding: 0 60px 0 60px;
   text-align: center;
   background-color: white;
}

#about{
    padding: 0 60px 0 100px;
    margin-right: 50px;
    text-align: center;
    background-color: white;
    border-left: 1px solid gray;

}

h1{
    color: gray;
}

h2{
    color: gray;
}

p{
    color: gray;
    font-weight: 540;
    font-size: larger;
}

h4{
    color: red;
}