body{
    margin: 20px auto 20px auto;
    width: 80%;
}

#content-2{
    display: flex;
    margin: 50px 250px 50px 250px;
}

ul{
    display: flex;
    justify-content: space-around;
}

h3{
    color: red;
}

.customers{
    display: inherit;
    justify-content: space-around;
}

#drinks{
    padding-right: 30px;
}

a{
    padding: 20px;
    background-color: white;
    color: red;
    border: red;
}

.chicken{
    margin-top: 100px;
    background-color: white;
    padding: 50px;
}

.beef{
    margin-top: 100px;
    background-color: white;
    padding: 50px;
}

.pizza{
    margin-top: 100px;
    background-color: white;
    padding: 50px;
}

#fast{
   padding: 20px 20px 0;
   background-color: white;
}

#food{
    padding: 0 20px 20px;
    background-color: white;
}

#fastfood{
    display: flex;
    margin: 50px 250px 50px 250px;
}

#delicious{
    padding-top: 40px;
    padding-left: 40px;
    padding-right:50px
}

